.gradient {
  background: url("/assets/gradient-b.webp");
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 24px;
}

.gradient::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.097);
  border-radius: 24px;
  backdrop-filter: blur(1px);
}