.gradient {
  background: url("/assets/gradient-b.webp");
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 24px;
}