.project {
  animation: slideIn 0.3s ease-in-out;
  align-items: center;
  justify-content: center;

  & h3, p {
    animation: fadeIn 0.6s ease-in-out;
  }

  & svg {
    animation: slideBottom 0.6s ease-in-out;
  }
}

@keyframes slideIn {
  from {
    transform: scale(0) translateY(60%);
    filter: blur(33px);
  }
  to {
    transform: scale(1) translateY(0);
    filter: blur(0);
  }
}

@keyframes slideBottom {
    from {
      transform: translateY(60%);
    }
    to {
      transform: translateY(0);
    }
  }

@keyframes fadeIn {
    from {
        transform: translateY(-30%);
    }
    to {
        transform: translateY(0);
    }
}