.scroll {
    animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
    0% {
        transform: translateX(-50%)
    }
    50% {
        transform: translateX(15%);
    }
    75% {
        transform: translateX(-10%)
    }
    100% {
        transform: translateX(0)
    }
}