@import "tailwindcss";

@layer base {
  :root {
    --background: #f4f4f4;
    --foreground: #171717;
    --header-bg-color: rgba(255,255,255,0.5);
    --dialog-bg: #f5f5f5;
    --text-primary-color: #111;
    --color-border: #eee;
    --social-link-primary-hover: #575757;
    --mutted-color: #666;
    --card-project-color: #f4f4f5;
    --hover-color: #f2f2f2bf;
    --button-bg-color-solid: #f4f4f5;
    --border-color: #ddd;
    --sunset-2: linear-gradient(
      90deg,
      #f06844 0%,
      #ee4c54 25%,
      #d45e95 50%,
      #9c6ca6 75%,
      #6583c1 100%
    );
    --rainbow-1: linear-gradient(
      90deg,
      #00daf4 0%,
      #5edc99 10%,
      #3861bc 20%,
      #5606ef 30%,
      #d400a5 40%,
      #ee4c54 50%,
      #ff7800 60%,
      #ffaf00 70%,
      #ffc800 80%,
      #bada6d 100%
    );

    --retro-2: linear-gradient(
      90.42deg,
      #4ab1f1 0.58%,
      #566cec 37.22%,
      #d749af 73.87%,
      #ff7c51 112.26%
    );
  }

  .dark {
    --background: #0a0a0a;
    --foreground: #ededed;
    --header-bg-color: #27272a94;
    --dialog-bg: #333;
    --text-primary-color: #fff;
    --color-border: #444;
    --social-link-primary-hover: #f5f5f5;
    --mutted-color: #666;
    --card-project-color: #27272a94;
    --hover-color: #27272a;
    --button-bg-color-solid: #27272a;
    --border-color: #333;
  }
}

* {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.retro-gradient {
  background: var(--sunset-2);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

textarea {
  resize: none;
  overflow: hidden;
}

dialog::backdrop {
  background: rgba(40, 40, 40, 0.1);
  backdrop-filter: blur(3px);
  cursor: alias;
}
dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background: var(--dialog-bg);
  border: none;
  outline: none;
  border-radius: 16px;
  border: 1px solid var(--color-border);
  color: var(--text-primary-color);
  font-weight: 600;
  animation: 300ms slideEffect ease-in-out;

  & > div {
    display: flex;
    margin: 0 auto;
    justify-content: center;
  }

  & p {
    text-align: center;
  }

  & span {
    padding: 2px 4px;
    background: #eee;
    border-radius: 4px;
    border: 1px solid #ddd;
  }
}

.gradient-left,
.gradient-right {
  pointer-events: none;
  position: absolute;
  top: 0;
  height: 100%;
  width: 4rem;
  z-index: 50;
  filter: blur(4px);
  background-image: linear-gradient(
    to right,
    rgba(233, 233, 233, 0.9),
    rgba(255, 255, 255, 0.2),
    transparent
  );
}

.gradient-right {
  right: -0.5rem;
  background-image: linear-gradient(
    to left,
    rgba(233, 233, 233, 0.9),
    rgba(255, 255, 255, 0.2),
    transparent
  );
}

.gradient-left {
  left: -0.5rem;
}

.dark .gradient-left {
  background-image: linear-gradient(
    to right,
    rgba(28, 28, 28, 0.9),
    rgba(28, 28, 28, 0.8),
    transparent
  );
}

.dark .gradient-right {
  background-image: linear-gradient(
    to left,
    rgba(28, 28, 28, 0.9),
    rgba(28, 28, 28, 0.8),
    transparent
  );
}


@keyframes slideEffect {
  from {
    transform: translateY(500%);
    opacity: 0;
  }
  to {
    transform: translate(0);
    opacity: 1;
  }
}

@keyframes slideOutEffect {
  from {
    transform: translate(0);
    opacity: 1;
  }
  to {
    transform: translateY(500%);
    opacity: 0;
  }
}

.felix {
  filter: drop-shadow(0 0 9px #000);
  z-index: -1;
}

@keyframes sliderIn {
  from {
    transform: translateX(50%) scale(0.4);
  }
  to {
    transform: translateX(0) scale(1);
  }
}
@keyframes sliderOut {
  from {
    transform: translateX(0) scale(1);
  }
  to {
    transform: translateX(50%) scale(0.4);
  }
}
