@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --dialog-bg: #f5f5f5;
  --text-primary-color: #111;
  --color-border: #eee;
  --social-link-primary-hover: #575757;
  --mutted-color: #666;
  --sunset-2: linear-gradient(
    90deg,
    #f06844 0%,
    #ee4c54 25%,
    #d45e95 50%,
    #9c6ca6 75%,
    #6583c1 100%
  );
  --rainbow-1: linear-gradient(
    90deg,
    #00daf4 0%,
    #5edc99 10%,
    #3861bc 20%,
    #5606ef 30%,
    #d400a5 40%,
    #ee4c54 50%,
    #ff7800 60%,
    #ffaf00 70%,
    #ffc800 80%,
    #bada6d 100%
  );

  --retro-2: linear-gradient(
    90.42deg,
    #4ab1f1 0.58%,
    #566cec 37.22%,
    #d749af 73.87%,
    #ff7c51 112.26%
  );
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --dialog-bg: #333;
    --text-primary-color: #fff;
    --color-border: #444;
    --social-link-primary-hover: #f5f5f5;
    --mutted-color: #666;
  }
}

* {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.retro-gradient {
  background: var(--retro-2);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

textarea {
  resize: none;
  overflow: hidden;
}

dialog::backdrop {
  background: rgba(40, 40, 40, 0.1);
  backdrop-filter: blur(3px);
  cursor: alias;
}
dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background: var(--dialog-bg);
  border: none;
  outline: none;
  border-radius: 16px;
  border: 1px solid var(--color-border);
  color: var(--text-primary-color);
  font-weight: 600;
  animation: 300ms slideEffect ease-in-out;

  & > div {
    display: flex;
    margin: 0 auto;
    justify-content: center;
  }

  & p {
    text-align: center;
  }

  & span {
    padding: 2px 4px;
    background: #eee;
    border-radius: 4px;
    border: 1px solid #ddd;
  }
}

@keyframes slideEffect {
  from {
    transform: translateY(500%);
    opacity: 0;
  }
  to {
    transform: translate(0);
    opacity: 1;
  }
}

@keyframes slideOutEffect {
  from {
    transform: translate(0);
    opacity: 1;
  }
  to {
    transform: translateY(500%);
    opacity: 0;
  }
}