.table {
  border: 1px solid var(--border-color);
  border-radius: 4px;

  & thead {
    background-color: #282828;
    color: var(--header-text-color);
  }
  & th {
    padding: 8px;
    text-align: left;
    border: 1px solid var(--border-color);
  }

  & td {
    padding: 8px;
    text-align: left;
    border: 1px solid var(--border-color);
  }
}
